.todolist{

    display: Flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
     background: linear-gradient(90deg, #b696e0 30%, #e09595 60%, #ebb1b1 70%);;
}
.box{
    display: flex;
    gap: 5px;
    flex-direction: right;
}
.head{
    font-family:'Courier New', Courier, monospace;
     margin-bottom: 10px;
     color: White;
    margin-top: 100px;
    font-size: 100px;
}q
.list-item{


    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 7px;
    transition: 0.7s;
    width: 600px;
}
.list:hover{
    border: 2px solid rgb(30, 0, 255);
    border-radius: 7px;
    background-color: aqua;
}